trame
trame-vuetify
trame-vtk
trame-components
trame-plotly
plotly
pandas
pyvista
vtk
numpy
# include fourcipp from github
git+https://github.com/4C-multiphysics/fourcipp.git
lnmmeshio>=5.6.3
numexpr

# development
pytest
pre-commit
